.galery_wrap {
    width: 630px;
    margin: 0 auto;
}

.galery_wrap img {
    display: block;
    float: left;
    margin-bottom: 10px;
}

.galery_clear {
    clear: both;
}

.galery_view_img {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    z-index: 200;
    display: none;
}

.galery_view_bg {
    display: none;
    background-color: gray;
    opacity: 0.5;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}